<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div class="rastreioProduto">
    <h2>Rastreio</h2>
    <label for="rastreamentoId"></label>
    <input type="text" id="rastreamentoId" [(ngModel)]="rastreamentoID" placeholder="Codigo de rastreio" /> <br>
    <br>
    <button (click)="pesquisarPorId()">PESQUISAR</button>
  </div>
  
    <div class="detalhesRastreamento" *ngIf="rastreios">
        <h2>Detalhes do Rastreamento</h2>
        <p><b>Código de Rastreio:</b>{{rastreios.codigoRastreio}}</p>
        <p><b>Data do Evento:</b> {{ rastreios.dataEvento | date:'short' }}</p>
        <p><b>Status do Evento</b> {{rastreios.statusEvento}}</p>
        <p><b>Cliente:</b> {{ rastreios.fkCliente }}
        <p><b>Destino Final:</b> {{rastreios.destinoFinal}}</p>
      </div>
  
</body>
</html>