<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="imagemFundo">
        <div class="titulo">
            <h2>QUEM SOMOS</h2>
        </div>

       <div class="conteudo">
           <ul>
               <li> <img src="assets/Optimus.jpg" alt="" style="height: 500px; border-radius: 10px;"></li>
               
               <div class="subtitulo">
                   <li><h2>CONHEÇA A SPRINT LOG TRANSPORTES</h2></li>
                   <li><p>A Saturno surgiu em um cenário muito importante para
                       o setor
                       de e-commerce no Brasil e no mundo. Com os dados 
                       crescentes de compras on-line, foi percebida a necessidade 
                       de que as empresas que vendem no digital contem com um serviço 
                       de distribuição que tenha prazos de entrega e preços competitivos, 
                       além de atraentes, para os seus clientes. E é aí que a Saturno entra!
                    </p>
                       
                       <p>Há dois anos no mercado, começamos a partir da compra de uma franquia e hoje atendemos 
                       todo Brasil
                    </p>
                       <p>
                       Atualmente, as empresas parceiras escolhem a Saturno pelo nosso 
                       trabalho de excelência, que entrega mercadorias em tempo hábil, com segurança e 
                       cuidado com o produto, garantindo uma experiência marcante para os seus clientes.</p></li>
                    </div>
                </ul>
            </div>
        </div>

            <div class="servicos">
                <h2>POR QUE ESCOLHER A SPRINTLOG? </h2>
                <p id="subtituloServicos">Você, proprietário de e-commerce, sabe quais as vantagens
                    de contratar a SprintLOg? Então, presta atenção!</p>
                    <br>
                <ul style="display: flex; align-items: center;">
                    <li style="height: 200px; width: 180px;">
                        <img src="assets/icons/caminhao-entrega.png" alt="">
                        <p>
                            Ao terceirizar os serviços de frete,
                             sua empresa reduz custos associados a aspectos
                              como infraestrutura e equipe, resultando em economia significativa.
                        </p>
                    </li>
        
                    <li style="height: 200px; width: 180px;">
                        <img src="assets/icons/caixa-aberta.png" alt="">
                        <p>
                            Você assegura ao seu cliente qualidade e a capacidade 
                            de rastrear a entrega do produto adquirido, proporcionando 
                            uma experiência mais tranquila durante todo o processo.
                        </p>
                    </li>
        
                    <li style="height: 200px; width: 180px;">
                        <img src="assets/icons/carrinho-entrega.png" alt="">
                        <p>
                            A experiência de compra na loja virtual torna-se mais gratificante,
                            facilitando a fidelização do cliente e, como resultado, 
                            impulsionando vendas e a divulgação da marca.
                        </p>
                    </li>
                </ul>
            </div>
        
            <div class="rastreamento">
                <h2>Possui alguma encomenda conosco? <br>
                    <b>Rastreie agora mesmo!</b>
                </h2>
                <a routerLink="rastreios">Rastrear</a>
            </div>
        
        <div class="fimPagina">
            <ul>
                <li><img src="assets/Log.png" alt="" style="height: 50px;"></li>
            </ul>
        
            <ul> 
                <b>Site</b>
                    <li><a routerLink="">Home</a></li>
                    <li><a routerLink="sobre">Sobre</a></li>
                    <li><a routerLink="contato">Contato</a></li>
            </ul>
        
            <ul>
            <b>Contato</b>
            <li><b>Atendimento:</b> sac&#64;splitlog.com</li>
            <li><b>Comercial:</b> contato&#64;splitlog.com</li>
            <li><b>Horario de Atendimento:</b> Das 9:00 às 18:00</li>
            <li><b>Telefone:</b> 43 4002 8922</li>
            </ul>
        </div>




    
    
</body>
</html>