<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="imagemFundo">
    
    <h2>ENTRE EM CONTATO</h2>
    <div class="contatos">
        
        <ul class="comercial" >
        <p>Contato <b>Comercial</b></p>
        <li> <input type="text" id="name" [(ngModel)]="nameComercial" placeholder="Nome"></li>
        <li> <input type="text" id="email" [(ngModel)]="emailComercial" placeholder="Email"></li>
        <li> <input type="text" id="telefone" [(ngModel)]="telComercial" placeholder="Telefone"></li>
        <li><textarea name="" id="" rows="4" [(ngModel)]="textAreaComercial" placeholder="Digite sua mensagem para fins comerciais"></textarea></li>
        <li><button type="submit" (click)="enviarFormComercial()">Enviar</button></li>
    </ul>

    <ul class="clientes" >
        <p>Atendimento <b>Clientes</b></p>
        <li> <input type="text" id="name" [(ngModel)]="nameCliente" placeholder="Nome"></li>
        <li> <input type="text" id="email" [(ngModel)]="emailCliente" placeholder="Email"></li>
        <li> <input type="text" id="telefone" [(ngModel)]="telCliente" placeholder="Telefone"></li>
        <li><textarea name="" id="" rows="4" [(ngModel)]="textAreaCliente" placeholder="Digite sua solicitação informando seu CPF"></textarea></li>
        <li><button type="submit" (click)="enviarFormCliente()">Enviar</button></li>
    </ul>

    <ul class="infos" >
        <li><img src="assets/icons/e-mail.png" alt="">
            <p><b>Atendimento</b> <br>
             <a href="mailto:sac@splitlog.com" target="_blank">sac&#64;splitlog.com</a> </p> 
            </li>
        <li><img src="assets/icons/relogio.png" alt="">
            <p><b>Horário de Atendimento</b> <br>
            Das 9:00 às 18:00</p></li>
            <li><img src="assets/icons/telefone.png" alt="">
                <p><b>Telefone</b> <br>
                (43) 4002-8922</p></li>
    </ul>
    </div>

    <div class="fimPagina">
        <ul>
            <li><img src="assets/Log.png" alt="" style="height: 50px;"></li>
        </ul>
        <ul> 
            <b>Site</b>
                <li><a routerLink="/">Home</a></li>
                <li><a routerLink="/sobre">Sobre</a></li>
                <li><a routerLink="/contato">Contato</a></li>
        </ul>
        <ul>
            <b>Já é funcionário?</b>
            <li><a routerLink="/login">Faça Login!</a></li>
            <li><a routerLink="/cadastro">Cadastrar</a></li>
            <li><a routerLink="/cadastro">Atualizar rastreio</a></li>
        </ul>
        <ul>
        <b>Contato</b>
        <li><b>Atendimento:</b> sac&#64;splitlog.com</li>
        <li><b>Comercial:</b> contato&#64;splitlog.com</li>
        <li><b>Horario de Atendimento:</b> Das 9:00 às 18:00</li>
        <li><b>Telefone:</b> 43 4002 8922</li>
        </ul>
    </div>
    </div>
</body>
</html>