<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>

  <div class=" container">
    <div class="content">
      <h2 class="tittle">Cadastrar Rastreio</h2>
      <form (ngSubmit)="cadastrarRastreio()" id="formulario">
        <label>Código de Rastreio</label> <br>
        <input [(ngModel)]="rastreio.codigoRastreio" name="CodigoRastreio" required> <br>
      
        <label> CPF do Cliente</label> <br>
        <input [(ngModel)]="rastreio.fkCliente" name="fkCliente"> <br>
      
        <label>Status de Transporte</label> <br>
        <select [(ngModel)]="rastreio.statusEvento" name="CodigoRastreio" required> 
          <option value="Coletado">Coletado</option>
          <option value="Em Transporte">Em Transporte</option>
          <option value="Saiu para entrega">Saiu para entrega</option>
          <option value="Entregue">Entregue</option>
        </select> 
        <br>
        <button type="submit">Cadastrar</button>
      </form>
    </div>
  </div>
</body>
</html>



