<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width='device-width', initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div>
    <nav>
      <ul style="display: flex; align-items: center;">
        <li><img src="assets/Log.png" alt="" style="height: 50px;"></li>
        <li><a routerLink="">Página inicial</a></li>
        <li><a routerLink="sobre">Sobre</a></li>
        <li> <a routerLink="contato">Contato</a></li>
        <li><a routerLink="rastreios" class="aRastreio">Rastrear meu pedido</a></li>
      </ul>
      
    </nav>
    </div>

  <router-outlet></router-outlet>
</body>
</html>