<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="imagemFundo">
        <div id="tituloInicial">
            <p>
                SOLUÇÕES 
                <br>
                <b>ÁGEIS E EFICIENTES</b>
            </p>
        </div>
        <div id="subtitulo" >
            <p>Transportamos suas encomendas com rapidez e segurança, <br>
                garantindo uma logística completa e de alta qualidade para várias regiões do Brasil.</p>
                <br>
                <a routerLink="contato">Entrar em contato</a>
        </div>
        
    </div>
            
    <div class="servicos">
        <h1>Conheça nossos serviços</h1>
        <p id="subtituloServicos">Com a abordagem única e contemporânea da SplitLog, seu e-commerce pode confiar em um processo <br>
            inteligente que atrai a atenção dos clientes e assegura um aumento nas vendas.</p>
            <br>
        <ul style="display: flex; align-items: center;">
            <li style="height: 300px; width: 180px;">
                <img src="assets/icons/entrega-rapida.png" alt="">
                <h2>ENTREGA <br>
                    RÁPIDA</h2>
                <p>Garantimos uma <br>
                    entrega dentro do prazo <br>
                    estabelecido, de acordo <br>
                    com a sua necessidade <br>
                    e a dos compradores do <br>
                    seu negócio.
                </p>
            </li>

            <li style="height: 300px; width: 180px;">
                <img src="assets/icons/caixas.png" alt="">
                <h2>Logística <br>
                     Inteligente</h2>
                <p>Garantimos uma <br>
                    entrega dentro do prazo <br>
                    estabelecido, de acordo <br>
                    com a sua necessidade <br>
                    e a dos compradores do <br>
                    seu negócio.
                </p>
            </li>

            <li style="height: 300px; width: 180px;">
                <img src="assets/icons/carrinho-de-carrinho.png" alt="">
                <h2>Entrega rápida</h2>
                <p>Garantimos uma <br>
                    entrega dentro do prazo <br>
                    estabelecido, de acordo <br>
                    com a sua necessidade <br>
                    e a dos compradores do <br>
                    seu negócio.
                </p>
            </li>

            <li style="height: 300px; width: 180px;">
                <img src="assets/icons/caminhao-de-entrega.png" alt="">
                <h2>Entrega rápida</h2>
                <p>Garantimos uma <br>
                    entrega dentro do prazo <br>
                    estabelecido, de acordo <br>
                    com a sua necessidade <br>
                    e a dos compradores do <br>
                    seu negócio.
                </p>
            </li>
        </ul>
    </div>

    <div class="rastreamento">
        <h2>Possui alguma encomenda conosco? <br>
            <b>Rastreie agora mesmo!</b>
        </h2>
        <a routerLink="rastreios">Rastrear</a>
    </div>

<div class="fimPagina">
    <ul>
        <li><img src="assets/Log.png" alt="" style="height: 50px;"></li>
    </ul>

    <ul> 
        <b>Site</b>
            <li><a routerLink="">Home</a></li>
            <li><a routerLink="sobre">Sobre</a></li>
            <li><a routerLink="contato">Contato</a></li>
    </ul>

    <ul>
    <b>Contato</b>
    <li><b>Atendimento:</b> sac&#64;splitlog.com</li>
    <li><b>Comercial:</b> contato&#64;splitlog.com</li>
    <li><b>Horario de Atendimento:</b> Das 9:00 às 18:00</li>
    <li><b>Telefone:</b> 43 4002 8922</li>
    </ul>
</div>
    <!-- <footer>
        <p>&copy; 2024, <strong>Júpiter Transportes</strong> | Todos direitos reservados </p>
    </footer> -->
</body>
</html>