<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="tituloInicial">
        <p>
            SOLUÇÕES 
            <br>
            <b>RÁPIDAS E EFICAZES</b>
        </p>
    </div>
    <div id="subtitulo" >
        <p>Levamos as suas encomendas com agilidade e segurança, com uma</p>
        <p> logística completa e de excelência, para diversos lugares do Brasil.</p>
        <a routerLink="contato">Entrar em contato</a>
    </div>

    <p>Conheça nossos serviços</p>
    <p>asdjbashdbj</p>

    <div class="serviços">
        <tr>
            <ul><p>Entrega rápida <br>
                Prazo dentro do estimados pipipopopo
            </p>
            </ul>
            <ul><p>Entrega rápida <br>
                Prazo dentro do estimados pipipopopo
            </p>
            </ul>
            <ul><p>Entrega rápida <br>
                Prazo dentro do estimados pipipopopo
            </p>
            </ul>
            <ul><p>Entrega rápida <br>
                Prazo dentro do estimados pipipopopo
            </p>
            </ul>
        </tr>
    </div>

    <section class="rastreamento">
        <P>possui alguma encomenda conosco? <br>
            rastreie agora mesmo
        </P> 
        <a routerLink="rastreios">Rastrear</a>
    </section>

<div class="fimPagina">
    <tr>WebSite
        <ul><a routerLink="">Home</a></ul>
        <ul><a routerLink="">Página inicial</a></ul>
        <ul><a routerLink="sobre">Sobre</a></ul>
        <ul><a routerLink="contato">Contato</a></ul>
    </tr>
    

</div>
    <footer>
        <p>&copy; 2024, <strong>Júpiter Transportes</strong> | Todos direitos reservados </p>
    </footer>
</body>
</html>