<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div class="container">
    <div class="content first-content">
      <div class="first-column">
        <h2 class="tittle-bemvindo">Bem-Vindo!</h2>
        <p class="description">Faça login para acessar as </p>
        <p class="description">páginas de cadastro e atualização</p>
      </div>

      <div class="second-column">
        <form *ngIf="!isLoggedIn" (ngSubmit)="fazerLogin()">
        <h2 class="tittle-Login">Fazer login</h2>
        <p class="description-Login">Digite suas credenciais</p>

            <label for="">
              <input type="text" id="username" name="username" [(ngModel)]="usuario.username" placeholder="Usuário" required>
            </label>
            <label for="">
              <input type="password" id="password" name="password"  [(ngModel)]="usuario.senha" placeholder="Senha" required>
            </label>
            <button class="btn" type="submit">Login</button>
          </form>

        <div *ngIf="isLoggedIn">
          <div class="loginSucesso">
            <h2 class="tittle-Login">Login realizado com sucesso!</h2>
            <p>Selecione abaixo a página que deseja acessar.</p>
            <button routerLink="/cadastro">Cadastros</button>
            <button routerLink="/atualizar">Cadastros</button>
          </div>
        </div>
      </div>
    </div>
   
  </div>
  
</body>
</html>

 