<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div class="container">
    <div class="content first-content">
      <div class="first-column">
        <h2 class="tittle-bemvindo">Bem-Vindo!</h2>
        <p class="description">to keep connected with us</p>
        <p class="description">please login with your personal info</p>
      </div>

      <div class="second-column">
        <h2 class="tittle-Login">Create Account</h2>
        <p class="description-Login">or user your email for your register</p>

        <div class="forms" *ngIf="!isLoggedIn">
          <form (ngSubmit)="fazerLogin()">
            <label for="">
              <input type="text" id="username" name="username" [(ngModel)]="usuario.username" placeholder="Usuário" required>
            </label>
            <label for="">
              <input type="password" id="password" name="password"  [(ngModel)]="usuario.senha" placeholder="Senha" required>
            </label>
            <button class="btn" type="submit">Login</button>
          </form>
        </div>
      </div>
    </div>

   
  </div>
  
</body>
</html>












  <!--
  <div *ngIf="isLoggedIn">
    <p>Você está logado! Será redirecionado para a página de cadastro.</p>
    <button routerLink="/cadastro">Ir para o Cadastro</button>
  </div> --> 